.dotfiles.git
.dotfiles.git
.git/
.scratchpads/
zsh_history_fix
aws-iam-authenticator
go
flyway-6.5.5
luarocks-3.5.0
source-installs
vscode-node-debug2
.zshrcpriv
.zshrc-bak
.zsh_history
.zcompdump
.zcompdump-mark-swift-5.8
.z
.yvm
.yarnrc
.yarn
.vscode-server
.viminfo
.tmux
.nvm
.npm
.ngrok
.pyenv
.python_history
.rediscli_history
.psql_history
.profile
.pki
.config
.config/nvim/.netrwhist
!.config/nvim
